@tailwind base;
@tailwind components;
@tailwind utilities;
.react-flow__node {
background-color: rgb(176, 171, 171) !important;
/* color:white !important; */
font-weight: 700 !important;
}
.react-flow__node .react-flow__handle{
  width: 10px;
  height: 10px;
  background-color: green;
}
.react-flow__node .react-flow__handle-left{
  background-color: red;
}